/backend/.env
/backend/node_modules/
/backend/coverage/
/backend/.flowconfig
/backend/coverage/
/backend/src/models/summerQuiz.js
/frontend/node_modules/
/frontend/.flowconfig
.DS_Store
/frontend/Older_Code/
Use_of_OverLayTrigger_example.txt
tmp.html
/fe-ts/node_modules/
/fe-ts/