/* Button Styles */
.btn-style {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 0px;
  box-shadow: 0 0 1px 1px grey;
  margin-right: 0.5em;
  font-size: 0.9em;
  font-weight: 700;
}

.add-to-cart-btn-style {
  background: rgb(240, 240, 0);
  transition: background 0.5s 20ms;
}
.add-to-cart-btn-style:hover {
  background: yellow;
}
.buy-btn-style {
  background: rgb(230, 149, 0);
  transition: background 0.5s 20ms;
}
.buy-btn-style:hover {
  background: orange;
}
.buyItem-qty {
  font-size: 0.8rem;
  letter-spacing: 0.1em;
}

/* Input element style */
.input-style {
  max-width: 3em;
  margin-bottom: 1em;
  display: block;
}
.input-style input {
  max-width: 3em;
  margin-bottom: 1em;
  text-align: center;
}

.price-wrapper {
  margin: 1em 0;
}
.price-wrapper::before {
  content: "Now ONLY";
  color: red;
  font-style: italic;
  font-weight: bold;
  display: block;
}

// Removes header part of BuyItem for smaller devices.
.full-size-header {
  display: none;
}

@media (min-width: 550px) {
  .btn-style {
    padding: 0.5em 1em;
    border-radius: 1.5em;
    border: 0px;
    box-shadow: 0 0 2px 2px silver;
    margin-bottom: 0.5em;
    font-size: 0.9em;
    font-weight: 700;
    width: 100%;
  }
  .full-size-header {
    display: block;
  }
  .buy-item-wrapper {
    border: solid 1px lightgray;
    border-radius: 0.5em;
    margin: 2em 0.5em;
    position: absolute;
  }

  .star-rating-wrapper {
    margin-bottom: 2em;
  }
}
