footer {
  position: absolute; /*important to footer placement*/
  bottom: 0px; /*important to footer placement*/
  height: 60px; /*important to footer placement*/
  width: 100%; /*important to footer placement*/
  left: 0px; /*important to footer placement*/
  // padding-left: 1em;
  padding-right: 1em;
  font-size: 0.7em;
  color: lightslategray;
  text-align: center;
}
footer p {
  margin: 0px;
}
footer > div {
  border-top: solid 1px lightslategray;
}
footer div :first-child {
  margin-top: 0.8em;
}
