.loginPage-wrapper {
  display: flex;
  justify-content: flex-start;
  padding-top: 3rem;
  padding-left: 2rem;
}

#loginForm input {
  margin-bottom: 0.5rem;
}

#loginForm > input[type="submit"] {
  padding: 0.2rem 0.5rem;
  background-color: aliceblue;
  border-radius: 5px;
}
.loginRedirect {
  display: block;
  text-decoration: none;
  box-shadow: 0 0 3px;
  margin-top: 0.8rem;
  text-align: center;
  background-color: aliceblue;
  border-radius: 5px;
}
