.cart {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: royalblue;
}
.container {
  padding-right: 0px;
}
.inline {
  display: inline-block;
}
.login {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  min-width: max-content;
  padding-top: 1rem;
}
.login a {
  text-decoration: none;
  color: var(--nav-text-color);
}
.login a + a {
  margin-left: 0.5rem;
}
.navbar {
  width: 100%;
}
.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
