.product-card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}

.product-card .image-container{
    display:flex;
    justify-content: center;
    align-items:flex-start;
    padding: 1em;
}

.product-card .image-container img{
    max-height: 12em;
    width: clamp(4em, auto, 35%);
    object-fit: cover;
}

.product-card .show-more-text{
text-decoration: none;
font-size: calc(var(--bs-body-font-size) - 0.2em);
}

.product-card .items-in-stock{
    margin-bottom: 2em;
}

.product-card .modal-image-button{
    border-width: 0px;
}

.btn-close{
    border: 0.8px solid #000;
}
