.card {
  /*width: clamp(15em, 18em, 25em);*/
  max-width: 350px;
  min-width: 250px;
  /*max-width: 18em;*/
}

.card .imageContainer {
  height: 12em;
  width: auto;
  contain: content;
}

.imageContainer img {
  max-height: 100%;
  width: 100%;
}

.card .cardImageWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-title {
  color: black;
  transition: color 250ms 10ms;
}
.card-title:hover {
  color: green;
}

.card-body{
  background-color: aliceblue;
}

@media (max-width: 600px) {
}
