/* Container for the whole site */
body {
  background-color: whitesmoke;
}
.siteWrapper {
  min-height: 100vh;
  top: 0px;
  left: 0px;
}
.siteContent {
  position: relative; /*important to footer placement*/
  padding-bottom: 60px; /*important to footer placement*/
  top: 0px;
  left: 0px;
  padding-left: 1em;
  padding-right: 1em;
  min-height: 100vh;
  overflow-y: auto;
}

@media (max-width: 600px) {
  .container {
    padding-left: 0.3em;
    padding-right: 0.5em;
  }
}
